@import '../common/';

@import '../components/header/';
@import '../components/footer/';

.offer {
  text-align: center;
  margin-bottom: 40px;

  &__title {
    @extend %heading-2;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &__button {
    @extend %button;

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    border-radius: 100px;
    border-color: $border-light;

    & .icon {
      width: 30px;
      height: 30px;
      padding: 3px 7px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.products {
  margin-bottom: 100px;

  &__list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__item {
    width: 310px;
    border-radius: 40px;
    border: 1px solid $border-light;

    &:hover {
      img {
        transform: scale(0.91);
      }
    }
  }

  &__image {
    border-radius: 40px;
    width: 310px;
    height: 310px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: 0.2s;
      transform: scale(1);
    }
  }

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    height: 196px;
  }

  &__name {
    @extend %heading-3;
  }

  &__price {
    @extend %heading-3;
    margin-top: auto;
  }
}
