@import '../common/';

@import '../components/header/';
@import '../components/footer/';

.offer {
  text-align: center;
  margin-bottom: 40px;

  &__title {
    @extend %heading-2;

    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__tabs {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
  }

  &__label {
    @extend %button;

    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px 8px 8px;
    border-radius: 100px;
    border-color: $border-light;
    cursor: pointer;

    &:has(input:checked) {
      cursor: default;
    }

    & .icon {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__input {
    display: none;
  }
}

@media (width < 740px) {
  .offer {
    &__tabs {
      gap: 8px;
    }
  }
}

.products {
  margin-bottom: 100px;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }

  &__list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(4, 310px);
    overflow: hidden;
  }

  &__item {
    cursor: pointer;
    overflow: hidden;
    max-width: 310px;
    height: 506px;
    border-radius: 40px;
    border: 1px solid $border-light;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    @media (hover: hover) {
      &:hover {
        img {
          transform: scale(0.91);
        }
      }
    }
  }

  &__image {
    border-radius: 40px;
    width: 310px;
    height: 310px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      transition: 0.2s;
      transform: scale(1);
    }
  }

  &__content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
    height: 196px;
    width: 100%;
  }

  &__name {
    @extend %heading-3;
  }

  &__price {
    @extend %heading-3;

    margin-top: auto;
  }

  &__button {
    @extend %button;

    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: none;
    align-items: center;
    justify-content: center;
  }
}

@media (width < 1440px) {
  .products {
    &__list {
      grid-template-columns: 310px 310px 310px;
    }
  }
}

@media (width < 1090px) {
  .products {
    &__list {
      grid-template-columns: 310px 310px;
    }

    &__item:nth-child(n + 5) {
      display: none;
    }

    &__button {
      display: flex;
    }
  }
}

@media (width < 720px) {
  .products {
    &__list {
      grid-template-columns: 310px;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;

  transition: 0.2s;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  &__backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: $background-backdrop;
    cursor: pointer;
  }

  &__wrapper {
    max-width: 800px;
    padding: 16px;
    background-color: $background-body;
    border-radius: 40px;
    display: flex;
    gap: 20px;
    margin: 0 40px;
  }

  &__image {
    border-radius: 40px;
    width: 310px;
    height: 310px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__name {
    @extend %heading-3;

    margin-bottom: 12px;
  }

  &__size {
    label:has(input:checked) {
      pointer-events: none;
    }
  }

  &__title {
    margin-bottom: 8px;
  }

  &__tabs {
    display: flex;
    gap: 8px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__tab {
    @extend %button;

    padding: 8px 16px 8px 8px;
    border-radius: 40px;
    border-color: $border-light;
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;

    .icon {
      color: $text-dark;
      display: inline-block;
      font-style: normal;
      width: 30px;
      height: 30px;
      border-radius: 100px;
      text-align: center;
      padding: 3px 0;
    }
  }

  &__input {
    display: none;
    pointer-events: all;
  }

  &__total {
    @extend %heading-3;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__disclaimer {
    @extend %text-description;

    display: flex;
    gap: 8px;
    padding: 12px 0;

    border-top: 1px solid $border-light;

    svg {
      width: 16px;
      height: 16px;
      flex-shrink: 0;
    }
  }

  &__button {
    @extend %button;

    border: 1px solid $border-dark;
    border-radius: 100px;
    padding: 10px;
  }
}

@media (max-width: 700px) {
  .modal {
    &__wrapper {
      margin: 0 19px;
    }

    &__image {
      display: none;
    }
  }
}
