/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-weight: 700;
}

button {
  font-weight: inherit;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

/* basic */
.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}

.hangman {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hangman__result {
  background: url("../assets/gallows.png") center no-repeat;
  width: 500px;
  height: 600px;
  position: relative;
}

.hangman__title {
  text-transform: uppercase;
}

/* hangman */
.hangman__image {
  position: absolute;
  top: 150px;
  left: 326px;
}

.hangman__part {
  position: absolute;
}

#head {
  left: 50%;
}

#body {
  top: 100px;
  left: 50px;
}

#left-arm {
  top: 101px;
  left: -14px;
}

#right-arm {
  top: 101px;
  left: 51px;
}

#left-leg {
  top: 227px;
  left: -14px;
}

#right-leg {
  top: 227px;
  left: 51px;
}

/* interface */
.interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}

.interface__count {
  color: red;
}

.keyboard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 500px;
}

.button {
  background-color: rgb(32, 93, 206);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 45px;
  height: 40px;
  text-transform: uppercase;
}

.button_disabled {
  opacity: 0.7;
  pointer-events: none;
}
