.game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(48, 16, 35);
    padding: 10px;
    border-radius: 10px;
    width: 700px;
}

.answers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data-source {
    display: flex;
    padding: 5px;
    justify-content: center;
    background-color: rgb(60, 18, 42);
}
