* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  background-color: $background-body;
  color: $text-dark;
  @extend %text-medium;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  max-width: 1440px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

@media (width < 720px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.title {
  &__cursive {
    font-style: italic;
    color: $text-accent;
  }
}
