@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Inter-SemiBold.ttf');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  font-style: italic;
  src: url('../fonts/Inter-SemiBoldItalic.otf');
}
