.hints {
    width: 100%;
    margin-bottom: 20px;
}

.hints-content {
    width: 100%;
    position: relative;
    top: 10px;
    z-index: 0;
}

.hints-buttons {
    display: flex;
    gap: 5px;
}

.hint {
    z-index: 2;
    border-radius: 5px 5px 0 0;
    text-align: center;
    position: absolute;
    transition: 0.2s;
    padding: 15px;
    top: 0;
    &:not(.button) {
        background-color: rgb(48, 16, 35);
        color: #fff;
    }

    &.translation {
        left: 0;
        right: 80px;
    }

    &.audio {
        margin: 0;
        right: 0;
        box-shadow: none;

        &:active {
            translate: 0 10px;
        }

        &.playing {
            &::before,
            &::after {
                animation: ripple 1s ease-out infinite;
                border: solid 2px rgb(48, 16, 35);
                border-radius: 5px;
                bottom: 0;
                box-sizing: border-box;
                content: '';
                left: 0;
                position: absolute;
                right: 0;
                top: 0;
            }

            &::after {
                animation-delay: 0.5s;
            }
        }
    }

    &.shown {
        transform: translateY(-100%);
    }
}

@keyframes ripple {
    0% {
        opacity: 0.25;
    }
    100% {
        border-radius: 5px;
        opacity: 0;
        transform: scale(3);
    }
}
