:root {
    --button-bg-color: rgb(254, 212, 164);
    --button-shadow-color: rgb(194, 163, 128);
}

.button {
    /* position: relative; */
    margin-top: 10px;
    transition: 0.2s;
    text-transform: uppercase;
    display: block;
    padding: 5px 20px;
    background-color: var(--button-bg-color);
    color: rgb(48, 16, 35);
    font-weight: 700;
    border-radius: 5px;

    transform: translateY(-3px);
    box-shadow: 0 3px var(--button-shadow-color);

    &:disabled {
        top: 3px;
        transform: translateY(0);
        box-shadow: 0 0 var(--button-shadow-color);
        cursor: default;
        filter: brightness(70%);
    }

    &:active {
        transform: translateY(0);
        box-shadow: 0 0 var(--button-shadow-color);
    }
}
