.login-page {
    min-height: 100vh;
    background-image: url('../../public/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
