.statistic-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(48, 16, 35);
    color: #fff;
    padding: 15px;
    border-radius: 10px;

    .list-wrapper {
        margin-bottom: 20px;

        .list-title {
            font-size: 30px;
            margin-bottom: 5px;
        }

        .words {
            padding: 10px;
            background-color: rgb(60, 18, 42);
            border-radius: 10px;

            .element {
                margin: 20px;

                &:first-of-type {
                    margin-top: 5px;
                }
                &:last-of-type {
                    margin-bottom: 5px;
                }
            }
        }
    }
    .continue {
        margin: 10px auto 0;
    }
}
