.word {
    display: block;
    padding: 5px;
    color: rgb(48, 16, 35);
    cursor: pointer;
    background-color: rgb(254, 212, 164);
    flex-grow: 1;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    border: 1px solid rgb(48, 16, 35);
    mask: radial-gradient(circle at 0 50%, transparent 5px, black 0);

    &.wrong {
        outline: 1px solid red;
    }
    &.correct {
        outline: 1px solid green;
    }
}
