.word {
    color: rgb(48, 16, 35);
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    z-index: 999;
    filter: drop-shadow(-1px 0px rgb(48, 16, 35));

    .word-content {
        pointer-events: none;
        display: block;
        background-color: rgb(254, 212, 164);
        padding: 5px;
    }

    &:not(.first) {
        .word-content {
            mask: radial-gradient(circle at 0 50%, transparent 5px, black 0);
        }
    }

    &.last {
        .after {
            display: none;
        }
    }

    .after {
        position: absolute;
        top: 50%;
        left: 100%;
        transform: translateY(calc(-50%));
        z-index: 3;
        width: 10px;
        height: 10px;
        background-color: rgb(254, 212, 164);
        clip-path: circle(50% at 0 50%);
        text-shadow: 0 0 0 1px rgb(48, 16, 35);
    }

    &.wrong {
        outline: 1px solid red;
    }
    &.correct {
        outline: 1px solid green;
    }
}
