.home {
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);

    animation-name: appearanceHome;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(48, 16, 35);
    color: white;
    text-align: center;

    opacity: 1;
    filter: blur(0);
    animation-name: appearance;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

.heading {
    margin: 20px 0;
    text-transform: uppercase;
    font-weight: 300;
}

.description {
    margin: 0;
    font-size: 18px;
}

.start-button {
    background-color: rgb(254, 212, 164);
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 5px;
    font-size: 18px;
    margin: 20px 0;
}

@keyframes appearance {
    from {
        opacity: 0;
        filter: blur(100px);
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}
@keyframes appearanceHome {
    from {
        backdrop-filter: blur(0);
    }

    to {
        backdrop-filter: blur(5px);
    }
}
